*.pdb
*.idb
*.tlog
*.obj
*.vcxproj.user
*.exe
*.exp
*.ilk
*.lib
*.opensdf
*.sdf
*.suo
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.lastbuildstate
*.log
*.pch
*_manifest.rc
*.ipch